[submodule "src/thirdparties/demucs"]
	path = src/thirdparties/demucs
	url = https://github.com/facebookresearch/demucs.git
[submodule "src/thirdparties/so-vits-svc"]
	path = src/thirdparties/so-vits-svc
	url = https://github.com/svc-develop-team/so-vits-svc.git
